.our-team{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 767px;
  height: 442px;
  background-color: #E0F0FF;
  margin: 0 auto;
}

.our-team__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000D26;
  margin: 0 0 20px 0;
}

.our-team__cards {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-evenly;
}