.lab__image-men {
  background-image: url(../../images/lab.jpg);
  width: 288px;
  height: 180px;
  border-radius: 10px;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .lab__image-men {
    grid-column-start: 2;
    grid-row: 1/3;
    width: 330px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .lab__image-men {
    grid-column: -1/-2;
    width: 264px;
    height: 276px;
    background-image: url(../../images/lab_men1440.jpg);
    grid-row: 1/3;
  }
}