.lab__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

@media screen and (min-width: 1150px) {
  .lab__title {
    font-size: 36px;
    line-height: 1.89;
  }
}