.cards-block-lab {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr 1fr;
  margin: 20px auto 0;
  padding-bottom: 40px;
  gap: 8px;
  width: max-content;
}

@media screen and (min-width: 500px) {
  .cards-block-lab {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .cards-block-lab {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: calc(100% - 78px);
    gap: 30px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1150px) {
  .cards-block-lab {
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .cards-block-lab {
    gap: 30px;
  }
}