.share-popup__container {
  display: none;
  justify-content: space-between;
  background: url(../../images/social-popup.png) center no-repeat;
  filter: drop-shadow(0px 4px 20px rgba(73, 111, 168, 0.15));
  width: 184px;
  height: 63px;
  z-index: 2;
  position: absolute;
  bottom: 43px;
  right: 0;
  box-sizing: border-box;
  padding: 17px 17px 24px;
}

.share-popup__container_opened {
  display: flex;
}

.share-popup__icon {
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  margin: 0;
  cursor: pointer;
}

.share-popup__icon_vk {
  background: url(../../images/icon-vk.svg);
}

.share-popup__icon_fb {
  background: url(../../images/icon-facebook.svg);
}

.share-popup__icon_telegram {
  background: url(../../images/icon-telegram.svg);
}

.share-popup__icon_insta {
  background: url(../../images/icon-insta.svg);
}

.share-popup__icon_youtube {
  background: url(../../images/icon-youtube.svg);
}
