.about-us {
   color: white;
   min-height: 485px;
   max-width: 320px;
   margin: 0 auto;
   background-color: #001337;
}

.about-us__title {
   text-align: center;
   margin: 0;
   padding-top: 2px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}

.about-us__subtitle {
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   margin: 0;
   padding: 12px 12px 20px 20px;
}

.article__container {
   position: relative;
   color: #000D26;
   background-color: #e0f0ff;
   width: 288px;
   margin: 0 auto 71px;
   border-radius: 5px;
}

.article__date {
   color: #009fac;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.45;
   font-style: italic;
   margin: 0;
   padding-bottom: 8px;
}

.article__title {
   
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   margin: 0;
   padding: 0 6px 12px 0; 
   border-bottom: 1px solid #009fac;
   
}

.article__text {
   margin: 0;
   padding-top: 12px;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
}

.article__content {
   
   padding: 16px;
}

.article__icon {
   width: 24px;
   height: 31px;
   position: absolute;
   left: px;
   right: -6px;
   top: -12px;
}
