.ourTeam{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 442px;
  background-color: #00b3ff;
}

.ourTeam__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000D26;
}

.ourTeam__cards {
  display: flex;
  flex-direction: row;

}
