.projects__card-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0 0;
}
.projects__card-text_big {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0;
  color: #001337;
  font-size: 10px;
  line-height: 14px;

}