.projects__filter {
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  padding: 16px 5px 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #009FAC;
  margin: 0  0 20px;
}