.header {
   background-image: url(../../images/Background.png);
   margin: 0 auto;
   max-width: 320px;
   min-height: 412px;
   background-repeat: no-repeat;
   color: white;
}

.header__title {
   margin: 0;
   padding: 30px 48px 0 16px;
   font-weight: 700;
   font-size: 32px;
   line-height: 44px;
   letter-spacing: 0.1px;
}

.header__title-span {
   font-weight: 400;
}

.header__subtitle {
   margin: 0;
   padding: 16px;
   font-size: 14px;
   line-height: 19px;
}
.header__button {
   background-color: #001337;
   border: 1px solid #ffffff;
   border-radius: 5px;
   margin: 0;
   padding: 0;
   min-height: 44px;
   min-width: 288px;
   margin: 34px 16px 0;
   color: white;
}
