.popup__close-btn {
    background-image: url(../../images/popup_close_btn.svg);
    position: absolute;
    right: 14px;
    top: 14px;
    width: 24px;
    height: 24px;
    background-position: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
}